.title {
    font-size: 18px;
    line-height: 2.5;
    font-weight: bold;
    position: relative;
    background-size: auto;
    background-color: #9cd4db;
    color: #fff;
    padding-left: 2%;
}

.slds-vertical-tabs__nav li a:hover,
.slds-vertical-tabs__nav li a:focus {
    background: #7fcbdc;
    color: #fff;
    border: none;
}


.slds-vertical-tabs .slds-vertical-tabs__content.slds-show {
    background: #f5f5f5;
    padding: 20px;
}

.slds-vertical-tabs__nav li a,
.slds-vertical-tabs .slds-vertical-tabs__content.slds-show {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.slds-vertical-tabs__nav li a,
.slds-vertical-tabs .slds-vertical-tabs__content.slds-show {
    font-size: 12px;
    line-height: 2.5;
}

.slds-vertical-tabs__nav li a:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 5px;
    height: 100%;
}

.slds-vertical-tabs__nav li.slds-vertical-tabs__nav-item.slds-is-active a {
    position: relative;
}

.slds-vertical-tabs .slds-vertical-tabs__content.slds-show {
    padding: 20px;
}


.button-container {
    display: flex;
    justify-content: flex-end;
    
}

.slds-button_destructive {
    font-size: 20px; /* Adjust the font size as needed */
    padding: 10px 20px; /* Adjust padding for height and width */
}